venv/
__pycache__/
.idea
Report_db.db
WorkFiles/



ERRORs_Movements_Products.xlsx
ERRORs_Supplier.xlsx
ERRORs_Supplier_new name.xlsx
ERRORs_Compectations_new.xlsx
ERRORs_Purchase_Products.xlsx
ERRORs_OZON_Products.xlsx
ERRORs_Purchase_new.xlsx
ERRORs_Write_OFF_new.xlsx

ERRORs_Sales_Products.xlsx
ERRORs_Sales_New_Customer.xlsx
ERRORs_Sales_new_Customer_Name.xlsx
ERRORs_Sales_new_HYUNDAI.xlsx
ERRORs_Sales_Managers.xlsx

ERRORs_Orders_Products.xlsx
ERRORs_Orders_New_Customer.xlsx
ERRORs_Orders_new_Customer_Name.xlsx
ERRORs_Orders_new_HYUNDAI.xlsx
ERRORs_Orders_Managers.xlsx
ERRORs_Orders_Contract.xlsx
ERRORs_Orders_PayTerms.xlsx
ERROR_LPC_final_ZERO.xlsx